.scale {
  background: #513a33;
  border: 2px solid #513a33;
  border-top: none;
  box-shadow: inset 0px 32px 64px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.touchIndicator {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background: rgb(255, 127, 80, 0.7);
  border-radius: 50%;
  box-shadow: 0px 0px 24px 24px rgba(255, 127, 80, 0.7);
}
