.soundButton {
  /* background: rgba(255, 255, 255, 0.1); */
  background: none;
  color: white;
  width: 100%;
  border: none;
  padding: 0;
  min-height: 42px;
}

.soundButton:active {
  background: rgba(255, 255, 255, 0.3);
}
