.fret {
  height: var(--fretWireSize);
  background: #e1e3e4;
  background: linear-gradient(0deg, #b1acaa 0%, #e1e3e4 50%, #b1acaa 100%);
  pointer-events: none;
}

.fret.horizontal {
  width: var(--fretWireSize);
  height: 100%;
  background: linear-gradient(90deg, #b1acaa 0%, #e1e3e4 50%, #b1acaa 100%);
}

.noteContainer {
  height: var(--fretSize);
  pointer-events: none;
  writing-mode: vertical-lr;
  color: rgb(255 255 255 / 30%);
  text-align: right;
}

.noteContainer.openNote {
  height: var(--openNoteSize);
}

.noteContainer.horizontal {
  writing-mode: initial;
  text-align: left;
  width: var(--fretSize);
  height: var(--horizontalModeStringContainerHeight);
}

.noteContainer.horizontal.openNote {
  width: var(--openNoteSize);
}

.noteContainer span {
  margin-bottom: 6px;
}

.fretContainer.horizontal {
  display: flex;
}
